<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/util     	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="helloBean" class="com.mkyong.core.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>

	<bean id="OutputHelper" class="com.mkyong.output.OutputHelper">
		<!-- property name="outputGenerator" ref="CsvOutputGenerator" / -->
		<property name="outputGenerator">
			<ref local="CsvOutputGenerator" />
		</property>
		<!-- constructor-arg> <ref bean="JsonOutputGenerator" /> </constructor-arg -->
	</bean>

	<bean id="CsvOutputGenerator" class="com.mkyong.output.CsvOutputGenerator" />
	<bean id="JsonOutputGenerator" class="com.mkyong.output.JsonOutputGenerator" />

	<!-- context:annotation-config / -->

	<bean id="BaseCustomerMalaysia" class="com.mkyong.common.Customer"
		init-method="initIt" destroy-method="cleanUp">
		<property name="country" value="Malaysia" />

		<property name="person" ref="PersonBean" />
	</bean>

	<bean id="CustomerBean" parent="BaseCustomerMalaysia">
		<constructor-arg type="java.lang.String">
			<value>mkyong</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>188</value>
		</constructor-arg>

		<constructor-arg type="int">
			<value>28</value>
		</constructor-arg>

		<!-- java.util.List -->
		<property name="lists">
			<list>
				<!-- value>1</value -->
				<ref bean="PersonBean" />
				<bean class="com.mkyong.common.Person">
					<property name="name" value="mkyongList" />
					<property name="address" value="address" />
					<property name="age" value="28" />
				</bean>
			</list>
		</property>

		<!-- java.util.Set -->
		<property name="sets">
			<set>
				<!-- value>1</value -->
				<ref bean="PersonBean" />
				<bean class="com.mkyong.common.Person">
					<property name="name" value="mkyongSet" />
					<property name="address" value="address" />
					<property name="age" value="28" />
				</bean>
			</set>
		</property>

		<!-- java.util.Map -->
		<property name="maps">
			<map>
				<!-- entry key="Key 1" value="1" / -->
				<entry key="Key 2" value-ref="PersonBean" />
				<entry key="Key 3">
					<bean class="com.mkyong.common.Person">
						<property name="name" value="mkyongMap" />
						<property name="address" value="address" />
						<property name="age" value="28" />
					</bean>
				</entry>
			</map>
		</property>

		<!-- java.util.Properties -->
		<property name="pros">
			<props>
				<prop key="admin">admin@nospam.com</prop>
				<prop key="support">support@nospam.com</prop>
			</props>
		</property>

		<property name="genericList">
			<util:list list-class="java.util.ArrayList">
				<value>1</value>
				<value>2</value>
				<value>3</value>
			</util:list>
		</property>

		<property name="genericSet">
			<util:set set-class="java.util.HashSet">
				<value>4</value>
				<value>5</value>
				<value>6</value>
			</util:set>
		</property>

		<property name="genericMap">
			<util:map map-class="java.util.HashMap">
				<entry key="Key1" value="7" />
				<entry key="Key2" value="8" />
				<entry key="Key3" value="9" />
			</util:map>
		</property>

		<property name="date">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="10/04/2015" />
			</bean>
		</property>

		<property name="country" value="Japan" />
		<property name="action" value="buy" />
		<property name="type" value="1" />
	</bean>

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="dd/MM/yyyy" />
	</bean>

	<bean id="PersonBean" class="com.mkyong.common.Person">
		<property name="name" value="mkyong" />
		<property name="address" value="address1" />
		<property name="age" value="28" />
	</bean>

	<bean id="FileNameGenerator" class="com.mkyong.common.FileNameGenerator"
		p:name="mkyong" p:type="txt" />

	<context:component-scan base-package="com.mkyong.customer.services" />
</beans>