<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloBean" class="com.mkyong.core.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>

	<bean id="OutputHelper" class="com.mkyong.output.OutputHelper">
		<!-- property name="outputGenerator" ref="CsvOutputGenerator" / -->
		<constructor-arg>
			<ref bean="JsonOutputGenerator" />
		</constructor-arg>
	</bean>

	<bean id="CsvOutputGenerator" class="com.mkyong.output.CsvOutputGenerator" />
	<bean id="JsonOutputGenerator" class="com.mkyong.output.JsonOutputGenerator" />

	<bean id="CustomerBean" class="com.mkyong.common.Customer">
		<constructor-arg type="java.lang.String">
			<value>mkyong</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String">
			<value>188</value>
		</constructor-arg>

		<constructor-arg type="int">
			<value>28</value>
		</constructor-arg>
	</bean>
</beans>